.phone {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #333;
  width: 43vh;
  height: 95vh;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  
  .screen {
    overflow: auto;
    position: relative;
    width: 93%;
    height: 87%;
    background: #fff;
    border-radius: 10px;
    padding-top: 70px;
  }
}