<div class="phone">
  <div class="screen">
    <button id="button"><span></span></button>
    <ul id="menu">
      <li><a href="#"><h3>Home</h3></a></li>
      <li><a href="#"><h3>Galery</h3></a></li>
      <li><a href="#"><h3>Contact</h3></a></li>
      <li><a href="#"><h3>About</h3></a></li>
    </ul>
    <h3>Javascript Click Outside Menu.</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam illo nihil repellendus blanditiis numquam molestias veniam deserunt vel, quos, sit, accusantium illum maiores minus earum nesciunt animi amet aspernatur! Unde!</p>
  </div>
</div>
